<h1 class="text-center">Edit Group</h1>
<div class="col-md-4 col-md-offset-4">
  <%= simple_form_for @group do |f| %>
    <div>
      <%= f.input :title %>
      <%= f.input :body %>
    </div>
    <%= f.submit "Save" %>
  <% end %>
 </div>
